In [1]:
## OOPS CONCEPT
## python is the object oriented programming language
## classes and object are the key features of OOPS
# class is the main building block and acts as template for the object
# object is the colection of the data and function and are also called as instances of class or class_variable.

In [5]:
fish_tuple = ("blow_fish","clown_fish","cat_fish","octopus")

fish_list = []
for x in fish_tuple:
    if x != "octopus":
        fish_list.append(x)
print(fish_list)

['blow_fish', 'clown_fish', 'cat_fish']

In [7]:
tuple1 = ("chicken_burger","veg_burger","mexican_burger","cheeze_burger")

list1 = []

for x in tuple1:
    if x != "mexican_burger":
        list1.append(x)
print(x)

cheeze_burger

In [9]:
tuple1 = ("chicken_burger","veg_burger","mexican_burger","cheeze_burger")

for x in tuple1:
    print(x)

chicken_burger
veg_burger
mexican_burger
cheeze_burger

In [14]:
tuple1 = ("chicken_burger","veg_burger","mexican_burger","cheeze_burger")

list_1 = list(tuple1)

list_1.append("aloo_tikki_burger")

print(list_1)

['chicken_burger', 'veg_burger', 'mexican_burger', 'cheeze_burger', 'aloo_tikki_burger']

In [15]:
tuple_2 = tuple(list_1)
print(tuple_2)

('chicken_burger', 'veg_burger', 'mexican_burger', 'cheeze_burger', 'aloo_tikki_burger')

In [16]:
x = lambda x,y:x+y
print(x(10,20))

30

In [17]:
for i in range(4):
    for j in range(4):
        print("*",end = " ")
    print()

* * * *
* * * *
* * * *
* * * *

In [18]:
for i in range(5):
    for j in range(5):
        print("*",end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [21]:
for i in range(5):
    for j in range(5):
        if (i==0 or i==4 or j ==0 or j ==4):
            print("*", end = " ")
        else:
            print(" " , end = " ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [22]:
for i in range(5):
    for j in range(5-i):
        print("*" , end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [24]:
for i in range(5):
    for j in range(1+i):
        print("*" , end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [30]:
for i in range(6):
    for j in range(6-i):
        if (i==0 or i ==5 or j ==0 or j==6-i-1):
            print("*" , end = " ")
        else:
            print(" " , end = " ")
    print()

* * * * * *
*       *
*     *
*   *
* *
*

In [32]:
for i in range(5):
    for j in range(5-i-1):
        print(" " , end = "")
    for k in range(i+1):
        print("*" , end = " ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [33]:
for i in range(5):
    for j in range(5-i-1):
        print(" " , end = "")
    for k in range(i+1):
        print("*" , end = " ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [37]:
for i in range(5):
    for j in range(5-i-1):
        print(" " , end = "")
        
    for k in range(i+1):
        print("*" , end = " ")
    print()    
        

for i in range(5):
    for j in range(i):
        print(" " , end = "")
    for k in range(5-i):
        print("*" , end = " ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [45]:
 for i in range(5):
        for j in range(5-i-1):
            print(" ", end = "")
            
        for k in range(i+1):
            print("*" , end = " ")
        print() 
        
for i in range(5):
    for j in range(i):
        print(" " , end = "")
        
    for k in range(5-i):
        print("*" , end = " " )
        
    print()

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [46]:
class sample:
    x = 10
    y = 20
    
s = sample()
print(s.x)
print(s.y)
print(s.x+s.y)

10
20
30

In [47]:
class sample:
    x = 60
    y = 50
    z = 15
    
s = sample()
print(s.x)
print(s.y)
print(s.z)
print(s.x*s.y*s.z)

60
50
15
45000

#### Once a class is created its members can be accessed by the object or instance of that class.

#### the process of creating object is called as class Instantiation

#### Syntax:
###object_name = class_name()

In [51]:
class student:
    mark1,mark2,mark3= 77,89,90
    def process(self):
        sum1 = self.mark1+self.mark2+self.mark3
        avg = sum1/3
        print("Total_marks:" , sum1)
        print("avg:",avg)
        
s = student()
s.process()

Total_marks: 256
avg: 85.33333333333333

In [54]:
class student:
    english = int(input("enter the english marks"))
    hindi = int(input("enter the hindi marks"))
    maths = int(input("enter the maths marks"))
    science = int(input("enter the science name"))
    
    
    def p(self,evs):
        total = self.english+self.hindi+self.maths+self.science+evs
        avg = total/4
        print(total)
        
        
s = student()
evs = 90
s.p(evs)
print(s.english)

enter the english marks 67
enter the hindi marks57
enter the maths marks98
enter the science name68
380
67

In [56]:
class parents:
    def func1(self):
        print("this function is in parent class")
        
# derived class

class child(parents):
    def func2(self):
        print("This function is in child class")
        
        
## driver code


object = child()
object.func1()
object.func2()

this function is in parent class
This function is in child class